.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px;
  min-width: 120px;
  height: 48px;
  color: black;
  font-weight: 500;
  background: #ebbc63;
  border: none;


  :global([data-theme='dark']) & {
    background: lab(7.75945 1.76576 3.05969);
    border: 1px solid lab(94.2766 0.635952 7.66994 / 0.12);
    color: white;
  }

  button {
    font-size: 5rem;
    color: white;

    svg {
      color: black;
      :global([data-theme='dark']) & {
        color: white;
      }
    }
  }
}