.searchWrapper {
  padding: 0 12px;
  display: flex;
  align-items: center;
  background-color: color(display-p3 0.939 0.939 0.939);
  color: color(display-p3 0.125 0.125 0.125);
  font-weight: 400;
  font-size: 14px;
  gap: 8px;
  border: 1px solid color(display-p3 0.849 0.849 0.849);
  border-radius: 12px;
  width: 100%;
  height: 42px;
  transition: 0.2s;

  &:focus-within {
    border: 1px solid black;
  }

    max-width: 520px;

  .searchInput {
    width: 100%;
    height: 100%;
  }

  .icon {
    flex-shrink: 0;
    color: color(display-p3 .392 .392 .392);
  }
}