.root {
  position: relative;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 5rem;
  }

  .bg {
    position: absolute;
    height: 70vh;
    width: 100%;
    z-index: -1;
    background-image: url("/images/hero5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    :global([data-theme='dark']) & {
      background-image: url("/images/hero4.png");
    }
    
    @media screen and (max-width: 768px) {
      height: 100vh;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;
      background: linear-gradient(
              to top,
              lab(96.5523% 0.22459 3.04749) 0%,
              lab(96.5523% 0.22459 3.04749 / 0) 40%,
              lab(7.75945% 1.76576 3.05969 / 0.15) 75%,
              lab(7.75945% 1.76576 3.05969 / 0.45) 100%
      );

      :global([data-theme='dark']) & {
        background: linear-gradient(
                to top,
                lab(3.68884% 0.864729 1.48878) 0%,
                lab(3.68884% 0.864729 1.48878 / 0.5) 45%,
                lab(3.68884% 0.864729 1.48878 / 0.4) 75%,
                lab(3.68884% 0.864729 1.48878 / 0.65) 100%
        );
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      position: relative;
      z-index: 0;
    }
  }
}

.hero {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: start;
    grid-template-columns: auto 1fr;
  }
}